.header {
  color: white;
  font-size: 1.2em;
  font-family: "Raleway";
  text-align: justify;
  margin-top: 2%;
}

.course {
  margin-top: 2%;
  margin-left: 0.8%;
}

.professor {
  margin-bottom: 2%;
  margin-left: 0.8%;
  border-radius: 5px;
}

.clarification {
  font-family: "Raleway";
  color: white;
  font-size: 0.73em;
}

.clarity {
  margin-left: 0.8%;
}

.workload {
  margin-left: 0.8%;
}

.submit {
  margin-left: 4%;
}

#form {
  margin-left: 2%;
}

.formContainerReview {
  grid-template-columns: auto auto; /*split into 2 columns*/
  position: fixed;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.nonComment {
  grid-area: 1 / 1 / 1 / 1;
}
