* {
  box-sizing: border-box;
}

.AppContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  background-image: radial-gradient(circle, red, maroon, maroon, maroon);
  background-size: cover;
}

.title {
  padding: 1em 0.5em;
  font-size: 3em;
  color: white;
  text-align: center;
  font-family: "Raleway";
  position: relative;
}

.header {
  font-family: "Raleway";
  padding-top: 0.3em;
  font-size: 3em;
  background-color: maroon;
  margin-left: 1em;
  letter-spacing: 2px;
  color: azure;
}

.logo {
  height: 6.5em;
  font-size: 10px;
}

.slogan {
  font-size: 2em;
  text-align: center;
}

.formContainer {
  background-color: rgb(78, 11, 11);
  position: fixed;
  min-width: 60%;
  width: 60%;
  margin-top: 10%;
  padding: 2%;
  margin-left: 20% !important;
  margin-right: 20%;
}

.formTitle {
  font-family: "Raleway";
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-size: 2em;
}

.formSubtitle {
  font-family: "Raleway";
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.5em;
}

.AppContentContainer {
  overflow-y: scroll;
}
