.dashboardContainer {
  background-color: white;
  position: fixed;
  height: 85%;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 1%;
  display: grid;
  grid-template-columns: auto auto auto; /*split into 3 columns*/
  grid-template-rows: 8% 4% auto 4% auto 4% auto 4% auto; /*split into 8 columns*/
}

/* containers */

.welcomeContainer {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(78, 11, 11);
  width: fit-content;
  overflow-x: scroll;
  margin-top: 1%;
}

.scheduleTitleContainer {
  grid-area: 2 / 1 / 3 / 3;
}

.scheduleContainer {
  grid-area: 3 / 1 / 6 / 3;
  overflow-y: scroll;
  background-color: rgb(78, 11, 11);
  margin-right: 2%;
  padding: 3%;
}

.infoTitleContainer {
  grid-area: 2 / 3 / 3 / 4;
}
.infoContainer {
  grid-area: 3 / 3 / 4 / 4;
  background-color: rgb(78, 11, 11);
  overflow-y: scroll;
}

.questionsTitleContainer {
  grid-area: 6 / 1 / 9 / 3;
}
.questionsContainer {
  grid-area: 7 / 1 / 10 / 3;
  overflow-y: scroll;
  background-color: rgb(78, 11, 11);
  margin-right: 2%;
  padding: 3%;
}

.forumsTitleContainer {
  grid-area: 4 / 3 / 5 / 4;
}

.forumsContainer {
  grid-area: 5 / 3 / 8 / 4;
  background-color: rgb(78, 11, 11);
  overflow-y: scroll;
}

.chatTitleContainer {
  grid-area: 8 / 3 / 9 / 4;
}

.chatContainer {
  grid-area: 9 / 3 / 10 / 4;
  background-color: rgb(78, 11, 11);
  margin-top: 1%;
  overflow-y: scroll;
}

/* text */

.moduleTitle {
  color: rgb(37, 37, 37);
  font-family: "Raleway";
}

.welcomeText {
  font-family: "Raleway";
  letter-spacing: 2px;
  color: azure;
  font-size: 2em;
}

.scheduleHeader {
  color: white;
  font-family: "Raleway";
  font-size: 1em;
}
.scheduleText {
  color: white;
  font-family: "Raleway";
  font-size: 1em;
  margin-left: 5%;
}
