.header {
    color: white;
    font-size: 1.4em;
    font-family: "Raleway";
    text-align: justify;
    margin-top: 2%;
}

.course {
    margin-top: 2%;
    margin-left: .8%;
}

.professor {
    margin-bottom: 2%;
    margin-left: .8%;
}

.clarification{
    font-family: "Raleway";
    color: white;
    font-size: .73em;
}

.clarity{
    margin-left: .8%;
}

.workload{
    margin-left: .8%;
}

.submit {
    margin-left: 4%;
}